.next-prev-nav{
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;

    & > a {
        background-color: oklch(0.97466 0.011 259.822);
        width: max-content;   /* Breite = Inhalt */
        //box-shadow: offset-x offset-y blur-radius spread-radius color;
        box-shadow: 0 0.5px 2.5px rgba(0, 0, 0, 0.1);
    }
    .next-prev__link{
        border: 1px solid oklch(0.97466 0.011 259.822);
        border-radius: 0.4em;
        .next-prev__title{
            padding: 0.5em 1em 0.5em 0.5em;
            margin-right: -0.5em;
        }
        svg {
            display: flex;
        }
        &.next-prev__link--prev {
            justify-self: start;
            margin-left: 1em;
        }
        &.next-prev__link--next {
            justify-self: end;
            margin-right: 1em;
        }
    }
}